@model demoapp.Models.Student

@{
    ViewBag.Title = "getstudent";
}

<h2>getstudent</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.sname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sname)
                @Html.ValidationMessageFor(model => model.sname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.saddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.saddress)
                @Html.ValidationMessageFor(model => model.saddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.semail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.semail)
                @Html.ValidationMessageFor(model => model.semail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                male
                @Html.RadioButtonFor(m => Model.Gender, "Male")
                female
                @Html.RadioButtonFor(m => Model.Gender, "Female")


            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CourseList, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
              @Html.DropDownList("CourseList", new SelectList(Enum.GetValues(typeof(demoapp.Models.Course))), "--Select Course--")
@Html.ValidationMessageFor(model => model.CourseList)


            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.username, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.username)
                @Html.ValidationMessageFor(model => model.username)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password)
                @Html.ValidationMessageFor(model => model.password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.confirmpassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.confirmpassword)
                @Html.ValidationMessageFor(model => model.confirmpassword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.isagree, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => Model.isagree)
                @Html.ValidationMessageFor(model => model.isagree)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
